<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<style>
    body {
        font-family: Verdana, Arial, sans-serif;
        font-size: 14px;
    }
</style>

{{{ body }}}
</body>
</html>
